{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure            {:mvn/version "1.12.1"}
  bidi/bidi                      {:mvn/version "2.1.6"}
  ch.qos.logback/logback-classic {:mvn/version "1.5.18"}
  ch.qos.logback/logback-core    {:mvn/version "1.5.18"}
  functionalbytes/redelay        {:mvn/version "2.0.1"}
  info.sunng/ring-jetty9-adapter {:mvn/version "0.37.6"}
  metosin/jsonista               {:mvn/version "0.3.13"}
  metosin/muuntaja               {:mvn/version "0.6.11"}
  metosin/ring-http-response     {:mvn/version "0.9.5"}
  org.clojure/tools.logging      {:mvn/version "1.3.0"}
  org.passen/malapropism         {:mvn/version "0.6.241"}
  org.slf4j/jcl-over-slf4j       {:mvn/version "2.0.17"}
  org.slf4j/jul-to-slf4j         {:mvn/version "2.0.17"}
  org.slf4j/log4j-over-slf4j     {:mvn/version "2.0.17"}
  org.slf4j/osgi-over-slf4j      {:mvn/version "2.0.17"}
  org.slf4j/slf4j-api            {:mvn/version "2.0.17"}
  ring-logger/ring-logger        {:mvn/version "1.1.1"}
  ring/ring                      {:mvn/version "1.14.2"}}
 :aliases
 {:main
  {:main-opts ["-m" "{{raw-name/ns}}.app"]
   :jvm-opts  ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]}
  :build
  {:deps
   {io.github.liquidz/build.edn
    {:git/tag "0.11.266"
     :git/sha "849302d"}}
   :ns-default build-edn.main}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :exec-fn     kaocha.runner/exec-fn}
  :watcher
  {:exec-args
   {:watch? true}}
  :dev
  {:extra-paths ["dev" "dev-resources"]
   :extra-deps
   {org.clojure/tools.namespace {:mvn/version "1.5.0"}}}}}
